body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

* {
  /* box-sizing: border-box; */
  font-family: "Space Grotesk", sans-serif;
}

.card_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
}

.cards {
  width: 18.7em;
  height: 18.7em;
  background-color: #fbed2c;
  border-radius: 1em;
  margin: auto;
}

img {
  width: 18em;
  height: 18em;
}

@media (max-width: 500px) {
  .card_container {
    grid-template-columns: auto auto auto;
    gap: 0.2em;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .cards {
    width: 65%;
    height: 85%;
    background-color: #fbed2c;
    border-radius: 1em;
    padding: 0.5rem;
  }

  img {
    width: 5em;
    height: 5em;
  }
}
