body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

* {
  box-sizing: border-box;
}

.card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.cards {
  width: 7.7em;
  height: 7.2em;
  background-color: #fbed2c;
  border-radius: 1em;
  margin: auto;
}

img {
  width: 7em;
  height: 7em;
}

@media (min-width: 425px) {
  .cards {
    width: 8.8em;
    height: 8em;
    background-color: #fbed2c;
    border-radius: 1em;
  }
  img {
    width: 8em;
    height: 8em;
  }
}
@media (max-width: 320px) {
  .cards {
    width: 6.6em;
    height: 6em;
    background-color: #fbed2c;
    border-radius: 1em;
  }
  img {
    width: 6em;
    height: 6em;
  }
}
